<div class="table-info">
    <ng-container *ngIf="total<0">
        <h2 class="outcome">TOTAL: {{total | currency}}</h2>
    </ng-container>
    <ng-container *ngIf="total>=0">
        <h2 class="income">TOTAL: {{total | currency}}</h2>
    </ng-container>
</div>
<div class="table">
    <table>
        <thead>
            <tr>
                <th *ngFor="let column of displayedColumns">{{column}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-data" *ngFor="let row of accountingRows ">
                <td>{{row.createdAt | date:'dd/MM/yyyy' }}</td>
                <td>{{row.description}}</td>
                <td>{{row.flowType == 0 ? 'Ingreso' : 'Egreso'}}</td>
                <td>{{row.value | currency}}</td>
                <td>
                    <button mat-flat-button class="btn btn-warning" (click)="OnUpdate(row)">
                        <mat-icon>build</mat-icon>
                    </button>
                    <button mat-flat-button class="btn btn-danger" (click)="OnDelete(row)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>