.search-title{
    margin: 16px;
}

.rbtn{
    margin:16px;
}

.form-element{
    margin: 10px;
    background-color:#F5EDDC
}

.form-element-text{
    width: 450px;
}

.search-btn{
    background-color: #A2B5BB;
    color:white;
    width:200px;
}

.search-btn:hover{
    background-color: #CFD2CF;
    color: black;
    border-color: #A2B5BB;
}

