<ng-container >
    <div class="menu-container">
        <button class="btn add-btn" (click)="openAddForm()">
            <mat-icon>library_add</mat-icon>
            Nuevo Cliente
        </button>
        <button class="btn report-btn" (click)="openSearchForm()">
            <mat-icon>search</mat-icon>
            Consultar Cliente
        </button>
    </div>
</ng-container>

<ng-container *ngIf="showAddForm">
    <div class="add-form">
        <app-register-customer (customerRegisteredClick)="customerRegistered($event)"></app-register-customer>
    </div>
</ng-container>

<ng-container *ngIf="showSearchForm">
    <div class="search-form">
        <app-search-customer (searchCustomerClick) = "customerFound($event)"></app-search-customer>
    </div>
</ng-container>

