<ng-container>
    <div class="menu-container">
        <button class="btn add-btn" (click)="openAddForm()">
            <mat-icon>library_add</mat-icon>
            Nuevo Cliente
        </button>
        <button class="btn report-btn" (click)="openSearchForm()">
            <mat-icon>search</mat-icon>
            Consultar Cliente
        </button>
    </div>
</ng-container>

<ng-container *ngIf="showAddForm">
    <div class="add-form">
        <app-register-customer (customerRegisteredClick)="customerRegistered($event)"></app-register-customer>
    </div>
</ng-container>

<ng-container *ngIf="showSearchForm">
    <div class="search-form">
        <app-search-customer (searchCustomerClick)="customerFound($event)"></app-search-customer>
    </div>
</ng-container>

<ng-container *ngIf="showDashboard">
    <div class="dashboard">
        <app-dashboard-customer [customerSelected]="customerSelected" 
                                (updateCustomerClick)="updateCustomer($event)"
                                (assignCarToCustomerClick)="assignCarToCustomer($event)"
                                (showCarViewClick)="showCarView($event)">
        </app-dashboard-customer>
    </div>
</ng-container>

<ng-container *ngIf="showUpdateForm">
    <div class="search-form">
        <app-update-customer [customerSelected]="customerSelected"
                            (customerUpdatedClick) = "customerUpdated($event)"></app-update-customer>
    </div>
</ng-container>

<ng-container *ngIf="showAddCarForm">
    <div class="search-form">
        <app-register-car [customerSelected]="customerSelected"
                        (customerUpdatedClick) = "carAddedToCustomer($event)">
        </app-register-car>
    </div>
</ng-container>

<ng-container *ngIf="showCarDashboard">
    <div class="dashboard">
        <app-dashboard-car [carSelected]="carSelected"
                            (updateCarClick)="updateCar($event)"
                            (reparationDeletedClick)="reparationDeleted($event)"
                            (addReparationToCarClick)="addReparationToCar($event)"
                            (modifyReparationClick)="updateReparation($event)"></app-dashboard-car>
    </div>
</ng-container>

<ng-container *ngIf="showUpdateCarForm">
    <div class="search-form">
        <app-update-car [carSelected]="carSelected"
                        (carUpdatedClick) = "carUpdated($event)">
        </app-update-car>
    </div>
</ng-container>

<ng-container *ngIf="showAddReparationForm">
    <div class="search-form">
        <app-add-reparation [carSelected]="carSelected"
                        (reparationAddedToCarClick) = "carUpdated($event)">
        </app-add-reparation>
    </div>
</ng-container>

<ng-container *ngIf="showUpdateReparationForm">
    <div class="search-form">
        <app-update-reparation [carSelected]="carSelected"
                                [reparationSelected]="reparationSelected"
                        (reparationUpdatedClick) = "carUpdated($event)">
        </app-update-reparation>
    </div>
</ng-container>