<div class="form">
    <form  [formGroup]="updateForm">
        <mat-form-field class="form-element datepicker" appearance="legacy">
            <mat-label>Seleccione la fecha</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="datePicked" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-element" appearance="legacy">
            <mat-label>Descripción Ingreso/Egreso</mat-label>
            <input matInput placeholder="Descripcion" formControlName="description" required>
        </mat-form-field>
        <mat-form-field class="form-element" appearance="legacy" floatLabel="always">
            <mat-label>Valor</mat-label>
            <input matInput type="number" class="" placeholder="0"  formControlName="value" required>
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <mat-form-field class="form-element" appearance="legacy">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="accountingType" required>
                <mat-option value=0>Ingreso</mat-option>
                <mat-option value=1>Egreso</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="btn-group">
            <button (click) = "updateAccounting()"
                    mat-flat-button 
                    class="btn form-element"
                    [disabled]="updateForm.invalid">
                    <mat-icon>save</mat-icon>
                Guardar
            </button>
            <button (click) = "cancelUpdate()"
                    mat-flat-button 
                    class="btn form-element">
                    <mat-icon>cancel</mat-icon>
                Cancelar
            </button>
        </div>
        
    </form>
</div>